name: Create and Push Docker Image

on:
  push:
    branches:
    - '**'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: strangelove-ventures/heighliner-build-action@v0.0.3
        with:
          chain: noble
          dockerfile: cosmos
          build-target: make install
          build-env:
            GOPRIVATE=github.com/circlefin/noble-cctp
          pre-build: |
            mkdir -p ~/.ssh
            echo "${{ secrets.GITAUTH }}" | base64 -d > ~/.ssh/id_ed25519
            chmod 600 ~/.ssh/id_ed25519
            apk add openssh
            git config --global --add url."git@github.com:circlefin/noble-cctp.git".insteadOf "https://github.com/circlefin/noble-cctp"
            ssh-keyscan github.com >> ~/.ssh/known_hosts
          binaries: |
            - /go/bin/nobled
