name: Simulation Tests

on:
  workflow_dispatch:

jobs:
  simulation-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21

      - name: Run Unit Tests
        run: go test -bench BenchmarkSimulation ./app
