name: Unit Tests

on:
  push:
    tags:
    - '**'
    branches:
    - '**'

jobs:
  unit-tests:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19

      - name: Run Unit Tests
        run: go test -v ./...