name: Unit Tests

on:
  pull_request:

jobs:
  unit-tests:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ^1.21

<<<<<<< HEAD
      - name: CCTP private repo auth
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.GITAUTH }}" | base64 -d > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          export GOPRIVATE=github.com/circlefin/noble-cctp
          git config --global --add url."git@github.com:circlefin/noble-cctp.git".insteadOf "https://github.com/circlefin/noble-cctp"

=======
>>>>>>> bd0c969 (chore: revert #265 (#267))
      - name: Run Unit Tests
        run: go test -v ./...
